#searchFrom{
    padding:20px;
    margin-bottom:20px;
    background: #3A539B;
    border-radius:5px;
}

#searchFrom input{
    padding:10px;
    border-radius:17px;
    outline:0;
    margin:10px;
    border-color: #444444;
    border-width: 3px;
    border-style: solid;
    width:300px;
}

#searchFrom .btn{
    background-color:#F4D03F;
    transition:0.2s;
    width:100px;
    font-weight:bold;
}

#searchFrom .btn:hover{
    background-color: #FFFFFF;
}

.result{
    width:300px;
    padding:10px;
    margin:10px;
    background-color:#FFFFFF;
    border-radius:5px;
    border-color: #444444;
    border-width: 3px;
    border-style: solid;
    transition:all 0.2s;
}

.result:hover{
    border-color: #F39C12;
}

.result_title{
    font-weight:bold;
}

.result_info{
    margin-top:5px;
    margin-bottom:5px;
    white-space:nowrap;
    overflow:hidden;
}

.imp_text{
    color:#F4D03F;
    font-size:30px
}

.table_header td{
    background-color:#F4D03F;
    padding:16px;
    font-weight:bold;
    border-bottom-color: #444444;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

table td{
    padding:16px;
    padding-left:20px;
    padding-right:20px;
    border-bottom-color: #444444;
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

#result_table{
    background-color:#FFFFFF;
    border-color: #444444;
    border-width: 3px;
    border-style: solid;
    transition:all 0.2s;
    margin:20px;
    border-radius:5px;
}

.table_info{
    transition:all 0.2s;
}

.table_info:hover{
    cursor:pointer;
    background-color:#DDDDDD;
}